/**************************
GENERAL
**************************/
a {
  padding-top: none;
}

@media (max-width: 992px) {
#homecard2 .hide-medium {
    display: none;
  }
}



/**************************
TYPOGRAPHY
**************************/
h1, h2, h3, h4, h5, h6 {
color: #434A54;
}

.h2-blue {
  color: #4A7CBC;
  font-size: 1.75rem;
}

.p-blue {
  color: #4A7CBC;
  font-size: 1.15rem;

}

.h2-white {
font-size: 1.80rem;
  color: white;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
}

.p-standard {
  color: #6C6F73;
  font-size: 1rem;
  font-weight: 300
}

.p-standard-18 {
  color: #6C6F73;
  font-size: 1.15rem;
  font-weight: 300
}

.p-standard-20 {
  color: #95989A;
  font-size: 1.15rem;
  font-weight: 400
}

.p-standard-20-d {
  font-size: 1.20rem;
  font-weight: 400
}

.h3-soft {
  font-size: 1.50rem;
  font-weight: 400
}

/**************************
NAVBAR
**************************/
@media (min-width: 992px) {
.navbar-toggleable-md .navbar-nav .nav-link {
    padding-right: .70rem;
    padding-left: .70rem;
  }
}

.home-nav {
  background-color: transparent;
}

.light-links {
  color: white  !important;
  font-weight: 500;
}

.light-links:hover{
  color: #cccccc !important;
}

.dark-links {
  color: #9498a6 !important;
  font-weight: 400;
}

.dark-links:hover {
    color: #434A54 !important;
    font-weight: 400;
  }

.selected {
  color: #434A54 !important;
  font-weight: 500;
}

.selected:hover {
  color: #434A54 !important;
  font-weight: 500;
}


.navbar {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.container .navbar .show .navbar-nav {
  padding-top: 10px;
  padding-left: 0px;
}
.container .navbar .collapsing .navbar-nav {
  padding-top: 10px;
  padding-left: 0px;
}

.navbar-light .navbar-toggler {
  border: none;
}

.custom-toggler .navbar-toggler-icon {
  cursor: pointer;
}

.w-hamburger .custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  cursor: pointer;
}

#heroimage > nav > button {
  cursor: pointer;
}

#heroimage > nav > a {
  cursor: default;
}

#heroimage > nav > a > img {
  cursor: pointer;
}



/**************************
PAGE: HOMEPAGE
**************************/

/* hero image */
html, body, #heroimage{
  width:100%;
  height:102%;
}

#heroimage{
  background:url('../img/hero-home.jpg') center center;
  background-size:cover;
}

.logo-lg {
  padding-left: 5px
}

@media (max-width: 576px) {
  .logo-lg {
    display: none;
  }
}

.text-hero {
  height: 80vh;
  display: flex;
  align-items: center;
  padding: .5rem 1rem;
}

.hero-multi h1 {
  color: white;
  font-weight: 400
  text-align: center;
}

.hero-multi p, .lead {
  color: white;
  font-weight: 300;
  text-align: center;
}

@media (max-width: 576px) {
#heroimage p {
    font-size: 1.15rem;
  }
#heroimage h1 {
  font-size: 2.15rem;
}
}

.hero-multi {
  width: 100%;
  margin: 0 auto;
}

/* Homepage: Card 2 */

#homecard2 {
  padding-top: 60px;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 576px) {
  #homecard2 {
    padding-top: 100px;
  }
}

@media (min-width: 768px) {
  #homecard2 {
    padding-bottom: 0;
  }
}

#homecard2 p {
  color: #6C6F73;
}

#homecard2 > div > div.col-6 > div:nth-child(2) > div:nth-child(1) {
  padding-left: 0;
}

@media (max-width: 768px) {
  #homecard2 img {
    display: none;
  }
  #homecard2 {
    padding-bottom: 60px
  }
}

@media (max-width: 768px) {
  #homecard2 .col-6  {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .testimonials .container {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.testimonials {
  background-color: #262F36;
}

.testimonials h2 {
  color: white;
  font-weight: 400;
}

.testimonials p {
  color: #D2D2D2;
  font-size: 1.1rem;
}

@media (max-width: 768px) {
  .testimonials h2 {
    font-size: 1.32rem;
  }
  .testimonials p {
    font-size: .726rem;
  }
  .testimonials h2 .pl-5, .pr-5 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

/* Homepage: Card 4 (Features) */

.features i {
  color: #5D9BEB;
}

@media (min-width: 992px) {
.feature-box {
  max-width: 480px;
  min-width: 480px;
  }
}

/* Footer */
.footer {
  background-color: #FAFAFA;
  border-top: #e1e1e1 1px solid;
}

.footer a {
  color: #6C6F73;
}

@media screen and (min-width: 768px) {
.acsl {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 460px;
  margin: auto;
  list-style: none;
  }
}


@media screen and (max-width: 768px) {
.acsl {
  text-align: center;
  list-style: none;
  margin-bottom: 0;
  line-height: 40px;
  }
}

/**************************
ABOUT
**************************/

.banner-top {
  background-color: #FAFAFA;
  border-top: #e1e1e1 1px solid;
  border-bottom: #e1e1e1 1px solid;
}

.banner-top p {
  margin-bottom: 0;
}

.contact-icons i {
  color: #95989A;
}

.contact-form {
  border-style: solid;
  border-width: 1px;
  border-color: #E1E1E1;
  border-radius: 0px 0px 6px 6px;
  padding: 3rem 3.75rem 3.75rem 3.75rem;
  margin-bottom: 100px;
}

.form-head {
  border-style: solid;
  border-width: 1px 1px 0px 1px;
  border-color: #E1E1E1;
  background-color: #5D9BEB;
  border-radius: 6px 6px 0px 0px;
  height: 80px;
  padding-top: 22px;
  padding-bottom: 22px;
}

.btn-primary {
  background-color: #5D9BEB;
  border-color: #5D9BEB;
  cursor: pointer;
}

.form-sent {
  border-radius: 10px;
  background-color: #DEEBFB
}


/**************************
Marketplace
**************************/

.card {
  width: 500px !important;
}

@media screen (max-width: 992px) {
.card-deck > .card {
  width: 200px;
  }
}

@media screen and (min-width: 750px) {
.card-deck {
padding-left: 20%;
padding-right: 20%;
  }
}

@media screen and (min-width: 992px) {
.card-deck {
padding-left: 15%;
padding-right: 0;
  }
}

@media screen and (min-width: 1200px) {
.card-deck {
padding-left: 7.5%;
padding-right: 0;
  }
}

/**************************
Marketplace Cards
**************************/

.card-deck > .card {
  margin-left: 0px !important;
  margin-right: 30px !important;
}

.card-deck > .card {
  margin-bottom: 30px !important;
}
